---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BaseScript from '../components/BaseScript.astro';
// You can import components from any supported Framework here!


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.


---
<html>
<head>
<BaseHead></BaseHead>   
</head>
<body>


<video id="background-video" autoplay loop muted poster="https://github.com/cstarneko/cstarneko/blob/main/images/galaxy.jpg?raw=true">
  <source src="https://cstarneko.github.io/cstarneko/images/water.mp4" type="video/mp4">
</video>
<div id="tm-wrap">
<div class="tm-main-content">
<div class="container tm-site-header-container">
<div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-md-col-xl-6 mb-md-0 mb-sm-4 mb-4 tm-site-header-col">
                        <div class="tm-site-header">
                            <h1 class="mb-4">CStarneko</h1>
                            <img src="https://cstarneko.github.io/cstarneko/mainstyles/img/underline.png" class="img-fluid mb-4">
                            <p>Welcome to my world</p>        
                        </div>                        
                    </div>
<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
<div class="content">
<div class="grid">
<div class="grid__item" id="home-link">
<div class="product">
                                        <div class="tm-nav-link">
                                            <i class="fab fa-blogger fa-3x tm-nav-icon"></i>
                                            <span class="tm-nav-text">Blog</span>
                                            <div class="product__bg"></div>        
                                        </div> 

                                        </div>

                                        </div>

                                        <div class="grid__item" id="team-link">
                                        <div class="product">
                                        <div class="tm-nav-link">
                                        <i class="fab fa-envira fa-3x tm-nav-icon"></i>
                                        <span class="tm-nav-text">Gallery</span>
                                        <div class="product__bg"></div>
                                        </div>

                                        </div>

                                        </div>

                                <div class="grid__item">
                                    <div class="product">
                                        <div class="tm-nav-link">
                                            <i class="fas fa-info fa-3x tm-nav-icon"></i>
                                            <span class="tm-nav-text">About</span>
                                            <div class="product__bg"></div>             
                                        </div>  

                                        </div>

                                        </div>

                                <div class="grid__item">
                                    <div class="product">
                                        <div class="tm-nav-link">
                                            <i class="fas fa-comments fa-3x tm-nav-icon"></i>
                                            <span class="tm-nav-text">Contact</span>
                                            <div class="product__bg"></div>  


</div>	

</div>

</div>

</div>

</div>

</div>            
<BaseScript></BaseScript>
</body>
</html>
