---
let title = 'cstarneko';
---
    
    
    
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{title}</title>

    <!-- load CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300">  <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="https://cstarneko.github.io/cstarneko/mainstyles/css/bootstrap.min.css">                                  <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="https://cstarneko.github.io/cstarneko/mainstyles/fontawesome/css/fontawesome-all.min.css">                <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" type="text/css" href="https://cstarneko.github.io/cstarneko/mainstyles/slick/slick.css"/>                       <!-- http://kenwheeler.github.io/slick/ -->
    <link rel="stylesheet" type="text/css" href="https://cstarneko.github.io/cstarneko/mainstyles/slick/slick-theme.css"/>
    <link rel="stylesheet" href="https://cstarneko.github.io/cstarneko/mainstyles/css/tooplate-style.css">                               

    <script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this in a modern browser such as latest version of Chrome or Microsoft Edge.");</script>


<script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async defer>
  new Crate({
    server: '411820949533622284',
    channel: '919864721203662898',
    glyph: ['https://cstarneko.github.io/cstarneko/images/discord.png', '100%']
  })
  crate.notify('(=｀ω´=)')
</script>

<style>
#background-video {
   position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
</style>